In [1]:
# !pip install LunarCalendar

In [218]:
import streamlit as st
import pandas as pd
from datetime import datetime, timedelta, date
from itertools import cycle
from PIL import Image
import re
import matplotlib.pyplot as plt
import numpy as np
import csv

animal = ["крыса", "бык", "тигр", "кролик", "дракон", "змея", "лошадь", "коза", "обезьяна", "петух", "собака", "свинья"]
stihiya = ["дерево", "дерево", "огонь", "огонь", "почва", "почва",  "металл",  "металл", "вода", "вода"]
in_yan = ["ян", "инь"]

vis_yaer = [1920, 1924, 1928, 1932, 1936, 1940, 1944, 1948, 1952, 1956, 1960, 1964, 1968, 
            1972, 1976, 1980, 1984, 1988, 1992, 1996, 2000, 2004, 2008, 2012, 2016, 2020, 
            2024, 2028, 2032, 2036, 2040, 2044, 2048, 2052]

moon_palace = dict({1: [1920, 1942, 0, 1987, 2009, 2032], 2: [0, 1943, 1965, 1988, 2010, 0], 
    3: [1921, 1944, 1966, 0, 2011, 2033], 4: [1922, 0, 1967, 1989, 2012, 2034], 
    5: [1923, 1945, 1968, 1990, 0, 2035], 6: [1924, 1946, 0, 1991, 2013, 2036], 
    7: [0, 1947, 1969, 1992, 2014, 0], 8: [1925, 1948, 1970, 0, 2015, 2037], 
    9: [1926, 0, 1971, 1993, 2016, 2038], 10: [1927, 1949, 1972, 1994, 0, 2039], 
    11: [1928, 1950, 0, 1995, 2017, 2040], 12: [0, 1951, 1973, 1996, 2018, 0], 
    13: [1929, 1952, 1974, 0, 2019, 2041], 14: [1930, 0, 1975, 1997, 2020, 2042], 
    15: [1931, 1953, 1976, 1998, 0, 2043], 16: [1932, 1954, 0, 1999, 2021, 2044], 
    17: [0, 1955, 1977, 2000, 2022, 0], 18: [1933, 1956, 1978, 0, 2023, 2045], 
    19: [1934, 0, 1979, 2001, 2024, 2046], 20: [1935, 1957, 1980, 2002, 0, 2047], 
    21: [1936, 1958, 0, 2003, 2025, 2048], 22: [0, 1959, 1981, 2004, 2026, 0], 
    23: [1937, 1960, 1982, 0, 2027, 2049], 24: [1938, 0, 1983, 2005, 2028, 2050], 
    25: [1939, 1961, 1984, 2006, 0, 2051], 26: [1940, 1962, 0, 2007, 2029, 2052], 
    27: [0, 1963, 1985, 2008, 2030, 0], 28: [1941, 1964, 1986, 0, 2031, 2053]})

sec_step = {1: 27,
            2: 2,
            3: 2,
            4: 5,
            5: 7,
            6: 10,
            7: 12,
            8: 15,
            9: 18,
            10: 20,
            11: 23,
            12: 25}


man = ["Liv1", "Liv4", "Gb.37/Liv.3", "Gb.37/Liv.3", "Liv5", "Liv2", "Liv8", 
       "Kid1", "Kid7", "Kid3", "Kid3", "Kid4", "Kid2", "Kid10", 
       "Lu11", "Lu8", "Co.6/Lu.9", "Co.6/Lu.9", "Lu7", "Lu10", "Lu5", 
       "Hg9, Ht9", "Hg5, Ht4", "Hg7, Ht7", "Hg7, Ht7", "Hg6, Ht5", "Hg8, Ht8", "Hg3, Ht3"]

woman = ["Gb41", "Gb44", "Gb34", "Gb.37/Liv.3", "Gb40", "Gb38", "Gb43", 
       "Bl65", "Bl67", "Bl40", "Bl58", "Kid4, Bl64", "Bl60", "Bl66", 
       "Co3", "Co1", "Co11", "Co.6/Lu.9", "Co4", "Co5", "Co2", 
       "Si3", "Si1", "Si8", "Si7", "Si4", "Si5", "Si2"]


def read_files():       
    cities = pd.read_csv("data/cities.csv")
    return cities


def get_year(our_date):
    stih = cycle(stihiya)
    anim = cycle(animal)
    inyan = cycle(in_yan)
    start_year = 1923
    year_china = our_date.year
    if our_date.month < 2: 
        year_china = year_china-1
    lst = []
    for i in range(year_china - start_year):
        start_year+=1
        lst.append(f"{next(anim)} {next(inyan)} {next(stih)}".capitalize())
    return lst[-1]


def get_month(our_date):
    stih = cycle(stihiya)
    anim = cycle(animal)
    inyan = cycle(in_yan)  
    start_month = date(1924, 1, 1)
    end_months=(our_date.year-start_month.year)*12 + our_date.month
    lst = []
    for i in range(end_months):
        lst.append(f"{next(anim)} {next(inyan)} {next(stih)}".capitalize())
    return lst[-1]


def get_day(our_date):
    stih = cycle(stihiya)
    anim = cycle(animal)
    inyan = cycle(in_yan)  
    start_day = date(1923, 2, 20)
    lst = []
    for i in range((our_date - start_day).days+1):
        lst.append(f"{next(anim)} {next(inyan)} {next(stih)}".capitalize())
    return lst[-1]

In [220]:
# Обработка интересующей даты

our_date =  '06/06,2025' #input('Введите дату') # 

our_date = vis_date = re.sub('\D', '.', our_date)
our_date = our_date.split('.')
d = int(our_date[0])
m = int(our_date[1])
y = int(our_date[2])

our_date = date(y, m, d)
print("our_date:", our_date)
print(vis_date)

our_date: 2025-06-06
06.06.2025

In [221]:
## Создание таблицы с датами
# calender = []
# for d in range(65000):
#     calender.append(date(1926, 1, 1) + timedelta(days=d))

# years = []
# months = []
# days = []
# for our_date in calender:
#     year = get_year(our_date)
#     month = get_month(our_date)
#     day = get_day(our_date)
#     years.append(year)
#     months.append(month)
#     days.append(day)

# df = pd.DataFrame({
#     "date":calender,
#     "years":years,
#     "months":months,
#     "days":days
# })
# df[-2:]

In [222]:
earth_legs = pd.read_csv("data/earth_legs.csv")
sky_hands = pd.read_csv("data/sky_hands.csv")
planets = pd.read_csv("data/planets.csv")
moon_palace_df = pd.read_csv("data/moon_palace.csv")

In [223]:
calender = pd.read_csv("data/calender.csv")
cicle = pd.read_csv("data/cicle.csv")
calender['date'] = pd.to_datetime(calender['date'])

In [224]:
month_v = calender[calender['date']==pd.to_datetime(our_date)]['months'].values[0]
day_v = calender[calender['date']==pd.to_datetime(our_date)]['days'].values[0]
day = cicle[cicle["Название_calender"] == day_v]["Название_Русский"].values[0]

#### Первая строка

In [225]:
a = f"{vis_date} день: {day}"
print(a)

06.06.2025 день: Огненная Лошадь

#### Вторая строка

In [226]:
in_yan = cicle[cicle['Название_calender'] == day_v]['инь_ян'].values[0]

In [227]:
b = f"День: {in_yan.capitalize()}"
print(b)

День: Ян

#### Третья строка

In [228]:
c = f"ЦзяЦзы дня: № {cicle[cicle['Название_calender'] == day_v]['Цзя_Цзы'].values[0]}"
print(c)

ЦзяЦзы дня: № 43

#### Четвёртая строка

In [229]:
moon_palace_df = pd.read_csv("data/moon_palace.csv")

# Считаем лунную стоянку
for k, v in moon_palace.items():
    if our_date.year in v:
        first_step = k

if (our_date.year in vis_yaer) & (pd.to_datetime(our_date) > pd.to_datetime(f"{our_date.year}-02-28")):
    first_step = first_step+1

lunar_day = first_step + sec_step[our_date.month]+ our_date.day

while lunar_day > 28:
    lunar_day+=-28

print(f"Янские точки дня: \t{woman[lunar_day-1]}")
print(f"Иньские точки дня: \t{man[lunar_day-1]}")


if lunar_day in range(1, 15):
    lunar_day = lunar_day+14
else:
    lunar_day = lunar_day-14


text_ld = ""


print(f"Точки по лунным дворцам: \t{man[lunar_day-1]} / {woman[lunar_day-1]}")




symbol = moon_palace_df[moon_palace_df["Лунный_день"]==lunar_day]["Иероглиф"].values[0]
val = moon_palace_df[moon_palace_df["Лунный_день"]==lunar_day]["Созвездие"].values[0]

point = moon_palace_df[moon_palace_df["Лунный_день"]==lunar_day][["Точка_Ду_май", "Название"]].values[0][0] + \
    " " + moon_palace_df[moon_palace_df["Лунный_день"]==lunar_day][["Точка_Ду_май", "Название"]].values[0][1]

Янские точки дня: 	Bl67
Иньские точки дня: 	Kid7
Точки по лунным дворцам: 	Hg5, Ht4 / Si1

In [230]:
d = f"Лунная стоянка: {str(lunar_day)} {symbol} {val.capitalize()} \nТочки 28 Лунных Стоянок (Ду май): {point}"
print(d)

Лунная стоянка: 23 鬼 Демон
Точки 28 Лунных Стоянок (Ду май): Du.25 Су-Ляо

#### Пятая строка

In [ ]:
seasons = pd.read_csv("data/seasons.csv")

In [ ]:
e = ["Сезон ", ]
"".join(e)

In [205]:
seasons

,Сезон,Символ,Название,Дата начала,Иероглиф,Месяц,j,Точки_Жэнь_май,Название_точки
0,4,立春,Начало весны,первый день февраля,寅,Тигр,3,VC16,Чжун-тин
1,5,雨水,Дождевая вода,-,寅,Тигр,3,VC17,Тань-чжун
2,6,惊蛰,Пробуждение насекомых,первый день марта,卯,Кролик,4,VC18,Юй-тан
3,7,春分,Весеннее равноденствие,-,卯,Кролик,4,VC 19,Цзы-гун
4,8,清明,Ясно и светло,первый день апреля,辰,Дракон,5,VC20,Хуа-гай
5,9,穀雨,Зерновые дожди,-,辰,Дракон,5,VC21,Сюань-цзи
6,10,立夏,Становление лета,первый день мая,巳,Змея,6,VC22,Тянь-ту
7,11,小滿,Малое изобилие,-,巳,Змея,6,VC23,Лянь-цюань
8,12,芒种,Колошение хлебов,первый день июня,午,Лошадь,7,VC24,Чэн-цзян
9,13,夏至,Летнее солнцестояние,-,午,Лошадь,7,VC1,Хуэй-инь
10,14,小暑,Малая жара,первый день июля,未,Коза,8,VC2,Цюй-гу
11,15,大暑,Большая жара,-,未,Коза,8,VC3,Чжун-цзи
12,16,立秋,Становление осени,первый день августа,申,Обезьяна,9,VC4,Гуань-юань
13,17,处暑,Окончание жары,-,申,Обезьяна,9,VC5,Ши-мэнь
14,18,白露,Белые росы,первый день сентября,酉,Петух,10,VC6,Ци-хай
15,19,秋分,Осеннее равноденствие,-,酉,Петух,10,VC7,Инь-цзяо
16,20,寒露,Холодные росы,первый день октября,戌,Собака,11,VC8,Шэнь-цюэ
17,21,霜降,Выпадение инея,-,戌,Собака,11,VC9,Шуй-фэнь
18,22,立冬,Начало зимы,первый день ноября,亥,Свинья,12,VC10,Ся-вань
19,23,小雪,Малые снега,-,亥,Свинья,12,VC11,Цзянь-ли
20,24,大雪,Большие снега,первый день декабря,子,Крыса,1,VC12,Чжун-вань
21,1,冬至,Зимнее солнцестояние,-,子,Крыса,1,VC13,Шан-вань
22,2,小寒,Малые холода,первый день января,丑,Бык,2,VC14,Цзюй-цюэ
23,3,大寒,Большие холода,-,丑,Бык,2,VC15,Цзю-вэй

In [122]:
cicle.to_csv("data/cicle.csv", index=False)

In [ ]:
time_now = datetime.now()
current_time = time_now.strftime("%H:%M:%S")
print("Текущее время:", current_time)

Текущее время: 11:34:40

In [201]:
cities = pd.read_csv("data/cities.csv")

mask = "Саранск" # input("Введите название Вашего населённого пункта").capitalize()
raw = cities[cities["Город"].str.contains(mask, regex=True).fillna(False)][["Индекс", "Тип региона", "Регион", "Тип района", "Район", "Тип города", "Город", "Тип н/п", "Н/п"]].dropna(axis=1)
if len(raw)>0:
    display(raw)
else:
    raw = cities[cities["Н/п"].str.contains(mask, regex=True).fillna(False)][["Индекс", "Тип региона", "Регион", 
            "Тип района",	"Район", "Тип города", "Город", "Тип н/п",	"Н/п"]].dropna(axis=1)
    display(raw)

C:\Users\anast\AppData\Local\Temp\ipykernel_2084\3879457154.py:4: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  raw = cities[cities["Город"].str.contains(mask, regex=True).fillna(False)][["Индекс", "Тип региона", "Регион", "Тип района", "Район", "Тип города", "Город", "Тип н/п", "Н/п"]].dropna(axis=1)

       Индекс Тип региона    Регион Тип города    Город
504  430000.0        Респ  Мордовия          г  Саранск

In [202]:
cities[cities["Н/п"].fillna(False) != False]

,Индекс,Тип региона,Регион,Тип района,Район,Тип города,Город,Тип н/п,Н/п,Код КЛАДР,...,Уровень по ФИАС,Признак центра района или региона,Код ОКАТО,Код ОКТМО,Код ИФНС,Часовой пояс,Широта,Долгота,Федеральный округ,Население
419,298676.0,Респ,Крым,NaN,NaN,г,Ялта,г,Алупка,9100000800100,...,6: населенный пункт,0,35419503000,35729000.0,9103,UTC+3,44.416366,34.044550,Южный,8497
1066,366500.0,Респ,Чеченская,р-н,Урус-Мартановский,NaN,NaN,г,Урус-Мартан,2001000000100,...,6: населенный пункт,1,96234501000,96634000.0,2033,UTC+3,43.127607,45.540684,Северо-Кавказский,49071