In [1]:
from datetime import datetime, timedelta
from itertools import cycle

In [2]:
animal = ["крыса", "бык", "тигр", "кролик", "дракон", "змея", "лошадь", "коза", "обезьяна", "петух", "собака", "свинья"]
stihiya = ["дерево", "дерево", "огонь", "огонь", "почва", "почва",  "металл",  "металл", "вода", "вода"]
in_yan = ["ян", "инь"]

our_date = '06.04.2025'
start_year = 1983
start_month = datetime(1989,1,1)
start_day = datetime(1998, 9, 14)
# start_hour = datetime(1998, 9, 14)

In [3]:
our_date = our_date.split('.')
d = int(our_date[0])
m = int(our_date[1])
y = int(our_date[2])

our_date = datetime(y, m, d)
our_date.date()

datetime.date(2025, 4, 6)

In [4]:
our_date.year

2025

In [5]:
from itertools import cycle


def get_year():
    stih = cycle(stihiya)
    anim = cycle(animal)
    inyan = cycle(in_yan)
    global our_date  
    global start_year
    year_china = our_date.year
    if our_date.month < 2:
        year_china = year_china-1
    lst = []
    for i in range(year_china - start_year):
        start_year+=1
        lst.append(f"Год: {start_year} {next(anim)} {next(inyan)} {next(stih)}")
    return lst[-1]

get_year()

'Год: 2025 змея инь дерево'

In [6]:
def get_month():
    stih = cycle(stihiya)
    anim = cycle(animal)
    inyan = cycle(in_yan)
    
    global our_date  
    global start_month
    
    end_months=(our_date.year-start_month.year)*12 + our_date.month+1
    lst = []
    for i in range(end_months):
        lst.append(f"Месяц: {next(anim)} {next(inyan)} {next(stih)}")

    return lst[-1]

get_month()

'Месяц: дракон ян металл'

In [7]:
def get_day():
    stih = cycle(stihiya)
    anim = cycle(animal)
    inyan = cycle(in_yan)
    
    global our_date  
    global start_day

    lst = []
    for i in range(((our_date - start_day).days+1) % 60):
        lst.append(f"Месяц: {next(anim)} {next(inyan)} {next(stih)}")

    return lst[-1]

get_day()

'Месяц: змея инь дерево'

In [8]:
time_now = datetime.now()
current_time = time_now.strftime("%H:%M:%S")
print("Текущее время:", current_time)

Текущее время: 07:16:47

In [9]:
# stih = cycle(stihiya)
# anim = cycle(animal)
# inyan = cycle(in_yan)

# global our_date  
# global start_hour

# lst = []
# for i in range(((our_date - start_hour).days+1) % 60):
#     lst.append(f"Месяц: {next(anim)} {next(inyan)} {next(stih)}")

# lst[-1]

In [10]:
string = "Месяц: свинья инь огонь"

In [12]:
# for i, s in enumerate(lst):
#     if s == string:
#         print(i)

In [13]:
(our_date - timedelta(days=23))

datetime.datetime(2025, 3, 14, 0, 0)

In [47]:
import pandas as pd

cities = pd.read_csv("data/cities.csv")
cities[:3]

,Индекс,Тип региона,Регион,Тип района,Район,Тип города,Город,Тип н/п,Н/п,Код КЛАДР,...,Уровень по ФИАС,Признак центра района или региона,Код ОКАТО,Код ОКТМО,Код ИФНС,Часовой пояс,Широта,Долгота,Федеральный округ,Население
0,385200.0,Респ,Адыгея,NaN,NaN,г,Адыгейск,NaN,NaN,100000200000,...,4: город,0,79403000000,7.970300e+10,107,UTC+3,44.878372,39.190172,Южный,12689
1,385000.0,Респ,Адыгея,NaN,NaN,г,Майкоп,NaN,NaN,100000100000,...,4: город,2,79401000000,7.970100e+10,105,UTC+3,44.609827,40.100653,Южный,144055
2,649000.0,Респ,Алтай,NaN,NaN,г,Горно-Алтайск,NaN,NaN,400000100000,...,4: город,2,84401000000,8.470100e+07,400,UTC+7,51.958268,85.960296,Сибирский,62861

In [53]:
import re


# cities[cities["Город"].str.contains("Горел\.*", regex=True).fillna(False)][["Индекс", "Тип региона", "Регион", "Тип района",	"Район", "Тип города", "Город", "Тип н/п",	"Н/п"]]
cities[cities["Н/п"].str.contains("A\.*", regex=True).fillna(False)][["Индекс", "Тип региона", "Регион", "Тип района",	"Район", "Тип города", "Город", "Тип н/п",	"Н/п"]]

Empty DataFrame
Columns: [Индекс, Тип региона, Регион, Тип района, Район, Тип города, Город, Тип н/п, Н/п]
Index: []

In [46]:
len(cities)

1112

In [55]:
cities[cities["Н/п"].fillna(False) != False]

,Индекс,Тип региона,Регион,Тип района,Район,Тип города,Город,Тип н/п,Н/п,Код КЛАДР,...,Уровень по ФИАС,Признак центра района или региона,Код ОКАТО,Код ОКТМО,Код ИФНС,Часовой пояс,Широта,Долгота,Федеральный округ,Население
419,298676.0,Респ,Крым,NaN,NaN,г,Ялта,г,Алупка,9100000800100,...,6: населенный пункт,0,35419503000,35729000.0,9103,UTC+3,44.416366,34.044550,Южный,8497
1066,366500.0,Респ,Чеченская,р-н,Урус-Мартановский,NaN,NaN,г,Урус-Мартан,2001000000100,...,6: населенный пункт,1,96234501000,96634000.0,2033,UTC+3,43.127607,45.540684,Северо-Кавказский,49071

In [ ]:
import re

mask = "A*"
cities[cities["Город"] == mask]

Empty DataFrame
Columns: [Индекс, Тип региона, Регион, Тип района, Район, Тип города, Город, Тип н/п, Н/п, Код КЛАДР, Код ФИАС, Уровень по ФИАС, Признак центра района или региона, Код ОКАТО, Код ОКТМО, Код ИФНС, Часовой пояс, Широта, Долгота, Федеральный округ, Население]
Index: []

[0 rows x 21 columns]