In [1]:
# !pip install LunarCalendar

In [163]:
import streamlit as st
import pandas as pd
from datetime import datetime, timedelta, date
from itertools import cycle
from PIL import Image
import re
import matplotlib.pyplot as plt
import numpy as np
import csv

animal = ["крыса", "бык", "тигр", "кролик", "дракон", "змея", "лошадь", "коза", "обезьяна", "петух", "собака", "свинья"]
stihiya = ["дерево", "дерево", "огонь", "огонь", "почва", "почва",  "металл",  "металл", "вода", "вода"]
in_yan = ["ян", "инь"]

vis_yaer = [1920, 1924, 1928, 1932, 1936, 1940, 1944, 1948, 1952, 1956, 1960, 1964, 1968, 
            1972, 1976, 1980, 1984, 1988, 1992, 1996, 2000, 2004, 2008, 2012, 2016, 2020, 
            2024, 2028, 2032, 2036, 2040, 2044, 2048, 2052]

moon_palace = dict({1: [1920, 1942, 0, 1987, 2009, 2032], 2: [0, 1943, 1965, 1988, 2010, 0], 
    3: [1921, 1944, 1966, 0, 2011, 2033], 4: [1922, 0, 1967, 1989, 2012, 2034], 
    5: [1923, 1945, 1968, 1990, 0, 2035], 6: [1924, 1946, 0, 1991, 2013, 2036], 
    7: [0, 1947, 1969, 1992, 2014, 0], 8: [1925, 1948, 1970, 0, 2015, 2037], 
    9: [1926, 0, 1971, 1993, 2016, 2038], 10: [1927, 1949, 1972, 1994, 0, 2039], 
    11: [1928, 1950, 0, 1995, 2017, 2040], 12: [0, 1951, 1973, 1996, 2018, 0], 
    13: [1929, 1952, 1974, 0, 2019, 2041], 14: [1930, 0, 1975, 1997, 2020, 2042], 
    15: [1931, 1953, 1976, 1998, 0, 2043], 16: [1932, 1954, 0, 1999, 2021, 2044], 
    17: [0, 1955, 1977, 2000, 2022, 0], 18: [1933, 1956, 1978, 0, 2023, 2045], 
    19: [1934, 0, 1979, 2001, 2024, 2046], 20: [1935, 1957, 1980, 2002, 0, 2047], 
    21: [1936, 1958, 0, 2003, 2025, 2048], 22: [0, 1959, 1981, 2004, 2026, 0], 
    23: [1937, 1960, 1982, 0, 2027, 2049], 24: [1938, 0, 1983, 2005, 2028, 2050], 
    25: [1939, 1961, 1984, 2006, 0, 2051], 26: [1940, 1962, 0, 2007, 2029, 2052], 
    27: [0, 1963, 1985, 2008, 2030, 0], 28: [1941, 1964, 1986, 0, 2031, 2053]})

sec_step = {1: 27,
            2: 2,
            3: 2,
            4: 5,
            5: 7,
            6: 10,
            7: 12,
            8: 15,
            9: 18,
            10: 20,
            11: 23,
            12: 25}


man = ["Liv1", "Liv4", "Liv3", "Liv3", "Liv5", "Liv2", "Liv8", 
       "Kid1", "Kid7", "Kid3", "Kid3", "Kid4", "Kid2", "Kid10", 
       "Lu11", "Lu8", "Lu9", "Lu9", "Lu7", "Lu10", "Lu5", 
       "Hg9, Ht9", "Hg5, Ht4", "Hg7, Ht7", "Hg7, Ht7", "Hg6, Ht5", "Hg8, Ht8", "Hg3, Ht3"]

woman = ["Gb41", "Gb44", "Gb34", "Gb37", "Gb40", "Gb38", "Gb43", 
       "Bl65", "Bl67", "Bl40", "Bl58", "Kid4, Bl64", "Bl60", "Bl66", 
       "Co3", "Co1", "Co11", "Co6", "Co4", "Co5", "Co2", 
       "Si3", "Si1", "Si8", "Si7", "Si4", "Si5", "Si2"]


def read_files():       
    cities = pd.read_csv("data/cities.csv")
    return cities


def get_year(our_date):
    stih = cycle(stihiya)
    anim = cycle(animal)
    inyan = cycle(in_yan)
    start_year = 1923
    global china_new_year 
    year_china = our_date.year
    if our_date < china_new_year: # корректируем год с учётом китайского нового года
        # если отсчёт смены года с 1 февраля, тогда заменить на (our_date.month < 2)
        year_china = year_china-1
    lst = []
    for i in range(year_china - start_year):
        start_year+=1
        lst.append(f"Год: {start_year} {next(anim)} {next(inyan)} {next(stih)}")
    return lst[-1]


def get_month(our_date):
    stih = cycle(stihiya)
    anim = cycle(animal)
    inyan = cycle(in_yan)  
    start_month = date(1924, 1, 1)
    end_months=((our_date.year-start_month.year)*12 + our_date.month) % 60
    lst = []
    for i in range(end_months):
        lst.append(f"Месяц: {next(anim)} {next(inyan)} {next(stih)}")
    return lst[-1]


def get_day(our_date):
    stih = cycle(stihiya)
    anim = cycle(animal)
    inyan = cycle(in_yan)  
    start_day = date(1923, 2, 20)
    lst = []
    for i in range(((our_date - start_day).days+1) % 60):
        lst.append(f"День: {next(anim)} {next(inyan)} {next(stih)}")
    return lst[-1]

In [184]:
our_date =  '06/04,2025' #input('Введите дату') # 

# Обработка интересующей даты

our_date = re.sub('\D', '.', our_date)
our_date = our_date.split('.')
d = int(our_date[0])
m = int(our_date[1])
y = int(our_date[2])

our_date = date(y, m, d)
print("our_date:", our_date)


# Рассчёт китайского нового года
l = Lunar(year=our_date.year, month=1, day=1, isleap=False)
S = Converter.Lunar2Solar(l)

china_new_year = S.to_date()
print("china_new_year", china_new_year)

our_date: 2025-04-06
china_new_year 2025-01-29

In [197]:
year = get_year(our_date)
month = get_month(our_date)
day = get_day(our_date)
print(year)
print(month)
print(day)

Год: 2025 змея инь дерево
Месяц: кролик инь почва
День: змея инь дерево

In [194]:
df[df['date']==our_date]['days'].values[0]

'Змея инь дерево'

In [ ]:
time_now = datetime.now()
current_time = time_now.strftime("%H:%M:%S")
print("Текущее время:", current_time)

Текущее время: 11:34:40

In [201]:
cities = pd.read_csv("data/cities.csv")

mask = "Саранск" # input("Введите название Вашего населённого пункта").capitalize()
raw = cities[cities["Город"].str.contains(mask, regex=True).fillna(False)][["Индекс", "Тип региона", "Регион", "Тип района", "Район", "Тип города", "Город", "Тип н/п", "Н/п"]].dropna(axis=1)
if len(raw)>0:
    display(raw)
else:
    raw = cities[cities["Н/п"].str.contains(mask, regex=True).fillna(False)][["Индекс", "Тип региона", "Регион", 
            "Тип района",	"Район", "Тип города", "Город", "Тип н/п",	"Н/п"]].dropna(axis=1)
    display(raw)

C:\Users\anast\AppData\Local\Temp\ipykernel_2084\3879457154.py:4: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  raw = cities[cities["Город"].str.contains(mask, regex=True).fillna(False)][["Индекс", "Тип региона", "Регион", "Тип района", "Район", "Тип города", "Город", "Тип н/п", "Н/п"]].dropna(axis=1)

       Индекс Тип региона    Регион Тип города    Город
504  430000.0        Респ  Мордовия          г  Саранск

In [202]:
cities[cities["Н/п"].fillna(False) != False]

,Индекс,Тип региона,Регион,Тип района,Район,Тип города,Город,Тип н/п,Н/п,Код КЛАДР,...,Уровень по ФИАС,Признак центра района или региона,Код ОКАТО,Код ОКТМО,Код ИФНС,Часовой пояс,Широта,Долгота,Федеральный округ,Население
419,298676.0,Респ,Крым,NaN,NaN,г,Ялта,г,Алупка,9100000800100,...,6: населенный пункт,0,35419503000,35729000.0,9103,UTC+3,44.416366,34.044550,Южный,8497
1066,366500.0,Респ,Чеченская,р-н,Урус-Мартановский,NaN,NaN,г,Урус-Мартан,2001000000100,...,6: населенный пункт,1,96234501000,96634000.0,2033,UTC+3,43.127607,45.540684,Северо-Кавказский,49071