In [1]:
from datetime import datetime, timedelta, date
from itertools import cycle
# from lunarcalendar import Converter, Solar, Lunar, DateNotExist
import re
import pandas as pd

In [114]:
preproc = pd.read_excel("data/preproc.xlsx", header=None)

preproc

                    0         1
0              1 (ян)       甲子
1                 NaN   Цзя Цзы
2    Деревянная Крыса       NaN
3             2 (инь)     乙丑
4                 NaN     И Чоу
..                ...       ...
175               NaN  Жэнь Сюй
176    Водяная Собака       NaN
177          60 (инь)        癸亥
178               NaN   Гуй Хай
179    Водяная Свинья       NaN

[180 rows x 2 columns]

In [115]:
preproc[0] = preproc[0].fillna(" ")
preproc[1] = preproc[1].fillna("+")
preproc = preproc.T
preproc

,0,1,2,3,4,5,6,7,8,9,...,170,171,172,173,174,175,176,177,178,179
0,1 (ян),,Деревянная Крыса,2 (инь),,Деревянный Бык,3 (ян),,Огненный Тигр,4 (инь),...,Металлическая Обезьяна,58 (инь),,Металлический Петух,59 (ян),,Водяная Собака,60 (инь),,Водяная Свинья
1,甲子,Цзя Цзы,+,乙丑,И Чоу,+,丙寅,Бин Инь,+,丁卯,...,+,辛酉,Синь Ю,+,壬戌,Жэнь Сюй,+,癸亥,Гуй Хай,+

In [122]:
s = ","
for i in preproc:
    s += preproc[i].str.cat(sep=",") + ","
s

',1 (ян),甲子 , ,Цзя Цзы,Деревянная Крыса,+,2 (инь),乙丑   , ,И Чоу,Деревянный Бык,+,3 (ян),丙寅, ,Бин Инь,Огненный Тигр,+,4 (инь),丁卯, ,Дин Мао,Огненный Кролик,+,5 (ян),戊辰    , ,У Чэнь,Земляой Дракон,+,6 (инь),己巳 , ,Цзи Сы,Земляная Змея,+,7 (ян),庚午   , ,Гэн У,Металлическая Лошадь,+,8 (инь),辛未  , ,Синь Вэй,Металлическая Коза,+,9 (ян),壬申 , ,Жэнь Шэнь,Водяная Обезьяна,+,10 (инь),癸酉    , ,Гуй Ю,Водяной Петух,+,11 (ян),甲戌   \xa0, ,Цзя Сюй,Деревянная Собака,+,12 (инь),乙亥   , ,И Хай,Деревянная Свинья,+,13 (ян),丙子, ,Бин Цзы,Огненная Крыса,+,14 (инь),丁丑 , ,Дин Чоу,Огненный Бык,+,15 (ян),戊寅, ,У Инь,Земляной Тигр,+,16 (инь),己卯, ,Цзи Мао,Земляной Кролик,+,17 (ян),庚辰, ,Гэн Чэнь,Металлический Дракон,+,18 (инь),辛巳, ,Синь Сы,Металлическая Змея,+,19 (ян),壬午, ,Жэнь У,Водяная Лошадь,+,20 (инь),癸未, ,Гуй Вэй,Водяная Коза,+,21 (ян),甲申, ,Цзя Шэнь,Деревянная Обезьяна,+,22 (инь),乙酉 , ,И Ю,Деревянный Петух,+,23 (ян),丙戌, ,Бин Сюй,Огненная Собака,+,24 (инь),丁亥 , ,Дин Хай,Огненная Свинья,+,25 (ян),戊子 , ,У Цзы,Земляная  Крыса,+,26 (инь),己丑 , ,Цзи Чоу,Земляной Бык,+,27 (ян),庚寅 , ,Гэн Инь,Металлический Тигр,+,28 (инь),辛卯\xa0, ,Синь Мао,Металлический Кролик,+,29 (ян),壬辰 , ,Жэнь Чэнь,Водяной Дракон,+,30 (инь),癸巳, ,Гуй Сы,Водяная Змея,+,31 (ян),甲午, ,Цзя У,Деревянная Лошадь,+,32 (инь),乙未\xa0, ,И Вэй,Деревянная Коза,+,33 (ян),丙申\xa0, ,Бин Шэнь,Огненная Обезьяна,+,34 (инь),丁酉, ,Дин Ю,Огненный Петух,+,35 (ян),戊戌\xa0, ,У Сюй,Земляная Собака,+,36 (инь),己亥, ,Цзи Хай,Земляная Свинья,+,37 (ян),庚子, ,Гэн Цзы,Металлическая Крыса,+,38 (инь),辛丑\xa0, ,Синь Чоу,Металлический Бык,+,39 (ян),壬寅, ,Жэнь Инь,Водяной Тигр,+,40 (инь),癸卯\xa0, ,Гуй Мао,Водяной кролик,+,41 (ян),甲辰, ,Цзя Чэнь,Деревянный Дракон,+,42 (инь),乙巳, ,И Сы,Деревянная Зиея,+,43 (ян),丙午, ,Бин У,Огненная Лошадь,+,44 (инь),丁未\xa0, ,Дин Вэй,Огненная Коза,+,45 (ян),戊申\xa0, ,У Шэнь,Земляная Обезьяна,+,46 (инь),己酉, ,Цзи Ю,Земляной Петух,+,47 (ян),庚戌\xa0, ,Гэн Сюй,Металлическая Собака,+,48 (инь),辛亥, ,Синь Хай,Металлическая Свинья,+,49 (ян),壬子, ,Жэнь Цзы,Водяная Крыса,+,50 (инь),癸丑\xa0, ,Гуй Чэнь,Водяной Бык,+,51 (ян),甲寅, ,Цзя Инь,Деревянный Тигр,+,52 (инь),乙卯\xa0, ,И Мао,Деревянный Кролик,+,53 (ян),丙辰, ,Бин Чэнь,Огненный Дракон,+,54 (инь),丁巳, ,Дин Сы,Огненная Змея,+,55 (ян),戊午, ,У У,Земляная Лошадь,+,56 (инь),己未\xa0, ,Цзи Вэй,Земляная Коза,+,57 (ян),庚申\xa0, ,Гэн Шэнь,Металлическая Обезьяна,+,58 (инь),辛酉, ,Синь Ю,Металлический Петух,+,59 (ян),壬戌\xa0, ,Жэнь Сюй,Водяная Собака,+,60 (инь),癸亥, ,Гуй Хай,Водяная Свинья,+,'

In [123]:
lst = s.split("+")
sdf = []
for l in lst:
    sdf.append(l.split(","))

In [124]:
sdf

[['', '1 (ян)', '甲子 ', ' ', 'Цзя Цзы', 'Деревянная Крыса', ''],
 ['', '2 (инь)', '乙丑   ', ' ', 'И Чоу', 'Деревянный Бык', ''],
 ['', '3 (ян)', '丙寅', ' ', 'Бин Инь', 'Огненный Тигр', ''],
 ['', '4 (инь)', '丁卯', ' ', 'Дин Мао', 'Огненный Кролик', ''],
 ['', '5 (ян)', '戊辰    ', ' ', 'У Чэнь', 'Земляой Дракон', ''],
 ['', '6 (инь)', '己巳 ', ' ', 'Цзи Сы', 'Земляная Змея', ''],
 ['', '7 (ян)', '庚午   ', ' ', 'Гэн У', 'Металлическая Лошадь', ''],
 ['', '8 (инь)', '辛未  ', ' ', 'Синь Вэй', 'Металлическая Коза', ''],
 ['', '9 (ян)', '壬申 ', ' ', 'Жэнь Шэнь', 'Водяная Обезьяна', ''],
 ['', '10 (инь)', '癸酉    ', ' ', 'Гуй Ю', 'Водяной Петух', ''],
 ['', '11 (ян)', '甲戌   \xa0', ' ', 'Цзя Сюй', 'Деревянная Собака', ''],
 ['', '12 (инь)', '乙亥   ', ' ', 'И Хай', 'Деревянная Свинья', ''],
 ['', '13 (ян)', '丙子', ' ', 'Бин Цзы', 'Огненная Крыса', ''],
 ['', '14 (инь)', '丁丑 ', ' ', 'Дин Чоу', 'Огненный Бык', ''],
 ['', '15 (ян)', '戊寅', ' ', 'У Инь', 'Земляной Тигр', ''],
 ['', '16 (инь)', '己卯', ' ', 'Цзи Мао', 'Земляной Кролик', ''],
 ['', '17 (ян)', '庚辰', ' ', 'Гэн Чэнь', 'Металлический Дракон', ''],
 ['', '18 (инь)', '辛巳', ' ', 'Синь Сы', 'Металлическая Змея', ''],
 ['', '19 (ян)', '壬午', ' ', 'Жэнь У', 'Водяная Лошадь', ''],
 ['', '20 (инь)', '癸未', ' ', 'Гуй Вэй', 'Водяная Коза', ''],
 ['', '21 (ян)', '甲申', ' ', 'Цзя Шэнь', 'Деревянная Обезьяна', ''],
 ['', '22 (инь)', '乙酉 ', ' ', 'И Ю', 'Деревянный Петух', ''],
 ['', '23 (ян)', '丙戌', ' ', 'Бин Сюй', 'Огненная Собака', ''],
 ['', '24 (инь)', '丁亥 ', ' ', 'Дин Хай', 'Огненная Свинья', ''],
 ['', '25 (ян)', '戊子 ', ' ', 'У Цзы', 'Земляная  Крыса', ''],
 ['', '26 (инь)', '己丑 ', ' ', 'Цзи Чоу', 'Земляной Бык', ''],
 ['', '27 (ян)', '庚寅 ', ' ', 'Гэн Инь', 'Металлический Тигр', ''],
 ['', '28 (инь)', '辛卯\xa0', ' ', 'Синь Мао', 'Металлический Кролик', ''],
 ['', '29 (ян)', '壬辰 ', ' ', 'Жэнь Чэнь', 'Водяной Дракон', ''],
 ['', '30 (инь)', '癸巳', ' ', 'Гуй Сы', 'Водяная Змея', ''],
 ['', '31 (ян)', '甲午', ' ', 'Цзя У', 'Деревянная Лошадь', ''],
 ['', '32 (инь)', '乙未\xa0', ' ', 'И Вэй', 'Деревянная Коза', ''],
 ['', '33 (ян)', '丙申\xa0', ' ', 'Бин Шэнь', 'Огненная Обезьяна', ''],
 ['', '34 (инь)', '丁酉', ' ', 'Дин Ю', 'Огненный Петух', ''],
 ['', '35 (ян)', '戊戌\xa0', ' ', 'У Сюй', 'Земляная Собака', ''],
 ['', '36 (инь)', '己亥', ' ', 'Цзи Хай', 'Земляная Свинья', ''],
 ['', '37 (ян)', '庚子', ' ', 'Гэн Цзы', 'Металлическая Крыса', ''],
 ['', '38 (инь)', '辛丑\xa0', ' ', 'Синь Чоу', 'Металлический Бык', ''],
 ['', '39 (ян)', '壬寅', ' ', 'Жэнь Инь', 'Водяной Тигр', ''],
 ['', '40 (инь)', '癸卯\xa0', ' ', 'Гуй Мао', 'Водяной кролик', ''],
 ['', '41 (ян)', '甲辰', ' ', 'Цзя Чэнь', 'Деревянный Дракон', ''],
 ['', '42 (инь)', '乙巳', ' ', 'И Сы', 'Деревянная Зиея', ''],
 ['', '43 (ян)', '丙午', ' ', 'Бин У', 'Огненная Лошадь', ''],
 ['', '44 (инь)', '丁未\xa0', ' ', 'Дин Вэй', 'Огненная Коза', ''],
 ['', '45 (ян)', '戊申\xa0', ' ', 'У Шэнь', 'Земляная Обезьяна', ''],
 ['', '46 (инь)', '己酉', ' ', 'Цзи Ю', 'Земляной Петух', ''],
 ['', '47 (ян)', '庚戌\xa0', ' ', 'Гэн Сюй', 'Металлическая Собака', ''],
 ['', '48 (инь)', '辛亥', ' ', 'Синь Хай', 'Металлическая Свинья', ''],
 ['', '49 (ян)', '壬子', ' ', 'Жэнь Цзы', 'Водяная Крыса', ''],
 ['', '50 (инь)', '癸丑\xa0', ' ', 'Гуй Чэнь', 'Водяной Бык', ''],
 ['', '51 (ян)', '甲寅', ' ', 'Цзя Инь', 'Деревянный Тигр', ''],
 ['', '52 (инь)', '乙卯\xa0', ' ', 'И Мао', 'Деревянный Кролик', ''],
 ['', '53 (ян)', '丙辰', ' ', 'Бин Чэнь', 'Огненный Дракон', ''],
 ['', '54 (инь)', '丁巳', ' ', 'Дин Сы', 'Огненная Змея', ''],
 ['', '55 (ян)', '戊午', ' ', 'У У', 'Земляная Лошадь', ''],
 ['', '56 (инь)', '己未\xa0', ' ', 'Цзи Вэй', 'Земляная Коза', ''],
 ['', '57 (ян)', '庚申\xa0', ' ', 'Гэн Шэнь', 'Металлическая Обезьяна', ''],
 ['', '58 (инь)', '辛酉', ' ', 'Синь Ю', 'Металлический Петух', ''],
 ['', '59 (ян)', '壬戌\xa0', ' ', 'Жэнь Сюй', 'Водяная Собака', ''],
 ['', '60 (инь)', '癸亥', ' ', 'Гуй Хай', 'Водяная Свинья', ''],
 ['', '']]

In [129]:
df = pd.DataFrame(sdf[:-1])
df.drop([0, 3, 6], axis=1, inplace=True)

In [131]:
df[:3]

         1      2        4                 5
0   1 (ян)    甲子   Цзя Цзы  Деревянная Крыса
1  2 (инь)  乙丑       И Чоу    Деревянный Бык
2   3 (ян)     丙寅  Бин Инь     Огненный Тигр

In [145]:
df[1] = df[1].str.replace("(", '')\
    .str.replace(")", "")\
    .str.replace("\d*", "", regex=True)

In [153]:
df.index = df.index + 1

In [164]:
df[:2]

   Лунный_день инь_ян Иероглиф Название_Китай  Название_Русский
0            1     ян      甲子         Цзя Цзы  Деревянная Крыса
1            2    инь    乙丑             И Чоу    Деревянный Бык

In [161]:
df.to_csv("data/cicle.csv", index=False)

In [162]:
df = pd.read_csv("data/cicle.csv")
df[:2]

   Лунный_день инь_ян Иероглиф Название_Китай  Название_Русский
0            1     ян      甲子         Цзя Цзы  Деревянная Крыса
1            2    инь    乙丑             И Чоу    Деревянный Бык